body {
  font-family: "Inter", sans-serif;
}

h2 {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}
.caja-img img {
  width: 250px !important;
  height: 350px !important;
  border-radius: 15px;
}
/* 1. Imagen responsiva (como img-fluid) */
.responsive-img {
  max-width: 100%;
  height: auto;
  display: block; /* para que margin:auto funcione */
}

/* 2. Sombra (como shadow) */
.custom-shadow {
  /* Sombra similar a .shadow de Bootstrap */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* 3. Centrar dentro de su contenedor (como text-center + align-items-center) */
.caja-img {
  display: flex;
  justify-content: center; /* centro horizontal */
  align-items: center; /* centro vertical */
}

.margin-top {
  margin-top: 2.5rem;
}

.section-principal {
  margin-top: 5rem;
}
.section-about {
  margin-top: 4rem;
}
#maquina-escribir::after {
  content: "|";
  animation: parpadeo 0.5s infinite;
}

@keyframes parpadeo {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
