body {
  font-family: "Inter", sans-serif;
}

h2 {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}
.caja-img img {
  width: 250px;
  height: 350px;
  border-radius: 15px;
}

.margin-top {
  margin-top: 2.5rem;
}

.section-principal {
  margin-top: 5rem;
}
.section-about {
  margin-top: 4rem;
}
#maquina-escribir::after {
  content: "|";
  animation: parpadeo 0.5s infinite;
}

@keyframes parpadeo {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
