body {
  font-family: "Inter", sans-serif;
}

h2 {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}
.caja-img img {
  width: 250px;
  height: 350px;
  border-radius: 15px;
}

.margin-top {
  margin-top: 2.5rem;
}

.section-principal {
  margin-top: 5rem;
}
.section-about {
  margin-top: 4rem;
}
#maquina-escribir::after {
  content: "|";
  animation: parpadeo 0.5s infinite;
}

@keyframes parpadeo {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
/* resetea cualquier padding-top previo */
#inicio {
  padding-top: 0;
}

/* en móviles (hasta 767.98px) añade espacio igual a la altura de la navbar */
@media (max-width: 767.98px) {
  #inicio {
    margin-top: 5rem;
    padding-top: 4rem; /* ajusta este valor según la altura real de tu navbar */
  }
}

/* en desktop puedes volver a quitar el padding si no lo quieres */
@media (min-width: 768px) {
  #inicio {
    padding-top: 0;
  }
}
